# Excel Files
*.xlsx
*.swp
*.DS_Store
*testing-data/cifar-100
*__pycache__
*.pyc
*.script
*.o*
testing-data/omniglot/*/*/*/*_*_90.png
testing-data/omniglot/*/*/*/*_*_180.png
testing-data/omniglot/*/*/*/*_*_270.png
